
body {
animation: softWaterFlow 16s infinite alternate;
    background-size: 400% 400%;
    transition: background 1s ease-in-out;

}



@keyframes softWaterFlow {
    0% { background: linear-gradient(to right, transparent, #dbeafe, #cce8ff, #e3f4ff); }
    50% { background: linear-gradient(to right, #edf6fd, #daeaf6, #c3e2f8, #dff4ff); }
    100% { background: linear-gradient(to right, #f5f7fa, #dbeafe, #cce8ff, #e3f4ff); }
}






.glass-container {
    text-align: center;
    margin-top: 50px;
}


.glass {
    width: 100px;
    height: 200px;
    border: 5px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
margin: 30px auto 30px auto; display: block;
}

.water-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 123, 255, 0.7);
    transition: height 0.5s ease-in-out;
}



H2  {  

margin: 40px 0px 40px 5px; z-index: -400; position: relative; color: #555555;font-weight: bold;text-shadow: 0.5px 0.5px 1px #999999; font-size: 20px;

}




.balk  {  border: solid 3px #555555;  z-index: -600;
}




H1  {  

margin: 40px 0px 40px 5px; z-index: -200; position: relative; color: #555555;font-weight: bold; font-size: 25px;

}

.wator { color: #1d1c1c; z-index: 200;
       }
#dailyAverage   {


text-decoration: underline #FF0000;   color:#1c1d1d; z-index: -200;
font-style: bold; font-size: 25px;
}


#daily    {   color: black;

}
